<div id="main">
  <h1>Browse any movie or TV Show</h1>
  <div [formGroup]="form">
    <mat-form-field class="search-form-field">
      <mat-label>Search movies, TV...</mat-label>
      <input matInput type="text" formControlName="search" id="search" />
      <button
        mat-button
        *ngIf="search"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="search.reset()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button
      id="clear"
      (click)="clearSearch()"
      mat-raised-button
      aria-label="Search"
      color="primary"
      *ngIf="hasSearch"
    >
      Clear search
    </button>

    <div id="filters">
      <ng-container formGroupName="filters">
        <!-- <span><mat-icon>filter_list</mat-icon>Filters</span> -->
        <mat-form-field appearance="fill">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input formGroupName="date" [rangePicker]="picker">
            <input
              formControlName="startDate"
              matStartDate
              placeholder="Start date"
            />
            <input
              formControlName="endDate"
              matEndDate
              placeholder="End date"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <mat-radio-group formControlName="type" aria-label="Select an option">
          <mat-radio-button value="1">Tv</mat-radio-button>
          <mat-radio-button value="2">Movie</mat-radio-button>
        </mat-radio-group>
        <button
          (click)="filterMedia()"
          mat-raised-button
          aria-label="Filter"
          color="primary"
          *ngIf="filters"
        >
          Apply
        </button>
      </ng-container>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
