#main {
  .search-form-field {
    width: 100%;
  }
  .clear {
    margin: 15px 0;
  }

  #filters {
    .mat-radio-group {
      margin: 0 15px;
      .mat-radio-button {
        margin: 0 15px;
      }
    }
  }
}
