<div id="list-container">
  <div class="item-container" *ngFor="let media of medias">
    <!-- <a
      [routerLink]="['/media/' + media.id + '']"
      fragment="{{ media.media_type }}"
      routerLinkActive="router-link-active"
    > -->
    <div class="header-container">
      <span color="primary" class="media-type">{{ media.media_type }}</span>
      <span class="title">
        {{ media.title || media.name }}
      </span>
      <span class="date">
        {{ media.release_date || media.first_air_date | date }}
      </span>
      <span *ngIf="!media.release_date && !media.first_air_date"
        >Coming Soon</span
      >
    </div>
    <div
      class="content-container"
      (click)="
        onListItemClick({ id: media.id?.toString(), type: media.media_type })
      "
    >
      <img
        class="media-image"
        [attr.src]="
          !!media.poster_path
            ? 'https://image.tmdb.org/t/p/w500/' + media.poster_path
            : 'https://www.fillmurray.com/240/360'
        "
      />
      <!-- <p class="description">
        {{ media.overview }}
      </p> -->
    </div>
    <div class="add-button-container">
      <button
        (click)="openBottomSheet(media)"
        mat-mini-fab
        color="primary"
        aria-label="addMyListButton"
      >
        <mat-icon>{{
          type === "media-list" ? "favorite" : "more_vert"
        }}</mat-icon>
      </button>
    </div>
    <!-- </a> -->
  </div>
</div>
