#list-container {
  display: flex;
  flex-wrap: wrap;
  .break {
    flex-basis: 100%;
    height: 0;
  }
  .item-container {
    max-width: 40%;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
      0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    margin: 15px 10px;
    position: relative;

    .header-container {
      padding: 15px;
      position: relative;
      .date {
        display: block;
      }
      .media-type {
        position: absolute;
        background-color: rgb(103, 58, 183);
        padding: 0px 15px;
        right: 5px;
        bottom: -15px;
        border-radius: 15px;
        box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
          0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

        color: white;
        // border: 0.1px solid rgb(103, 58, 183);
      }
      .title {
        max-width: 200px;
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .content-container {
      cursor: pointer;
      display: flex;
      margin-top: 3px;
      .media-image {
        max-height: 360px;
        max-width: 240px;
      }
      .description {
        max-height: 200px;
        overflow: hidden;
        margin: 0 5px;
      }
    }
    .add-button-container {
      position: absolute;
      right: 5px;
      bottom: 10px;
    }
  }
}
