<mat-toolbar color="primary">
  <button
    mat-button
    matSuffix
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="toggleSideNav.emit()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span class="toolbar-title"> Perfect Memory Test </span>
</mat-toolbar>
