<div id="main">
  <h1>My Medias</h1>

  <nav mat-tab-nav-bar>
    <a
      mat-tab-link
      *ngFor="let link of navLinks"
      [routerLink]="link.path"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
      >{{ link.title }}
    </a>
  </nav>
  <router-outlet></router-outlet>
</div>
