@import '@angular/material/prebuilt-themes/deeppurple-amber.css'
html,
body
  margin: 0
  height: 100%

#main
  margin: auto
  max-width: 60vw
  margin-top: 20px

.snack-bar-error
  background-color: red
.snack-bar-valid
  background-color: green
