<h2>My medias list to see</h2>
<div *ngIf="medias; else elseBlock">
  <app-list-media-template
    [medias]="medias"
    [type]="'to-see'"
    [bottomSheetData]="bottomSheetData"
    component="my-media/to-see"
  ></app-list-media-template>
</div>
<ng-template #elseBlock>
  it looks like there is nothing here at the moment</ng-template
>
