@import "~@angular/material/theming";

@import "../icons";
@import "./palette";

// Generate Material’s core styles

@include mat-core($custom-typography);
// @include mat-toolbar-typography($custom-toolbar-typography);

// Generate a Custom Theme

$light-theme: mat-light-theme(
  $light-theme-primary,
  $light-theme-accent,
  $light-theme-warn
);
// $dark-theme: mat-dark-theme($dark-theme-primary, $dark-theme-accent, $dark-theme-warn);

@include angular-material-theme($light-theme);

// Theme Custom components

// https://github.com/angular/components/src/material/core/style/_variables.scss

$mat-xsmall: "max-width: 599px";
$mat-small: "max-width: 959px";

// https://github.com/angular/components/src/material/toolbar/toolbar.scss

$mat-toolbar-height-desktop: 64px !default;
$mat-toolbar-height-mobile: 56px !default;
$mat-toolbar-row-padding: 16px !default;

@include app-light-theme($light-theme);

// ------------------------------------------------------------------------------------------------------------------ //

$foreground: map-get($light-theme, foreground);
$background: map-get($light-theme, background);

// top, right, bottom, and left
// width: 100vw;
// height: 100vh;

.mat-sidenav-container {
  height: 100vh;
}

// https://github.com/angular/material2/blob/master/src/lib/core/style/_variables.scss

$sidenav-width: 320px; // 240px;

.mat-sidenav {
  width: $sidenav-width;
}

.mat-subheader {
  font-size: 18px !important;
  font-weight: 900 !important;
}

.mat-vertical-content {
  padding: 24px 24px 24px 24px !important;
}

// auth-local - login, register

.mat-drawer-container {
  @media ($mat-xsmall) {
    background-color: white;
  }
}

.mat-header-row {
  // background-color: mat-color($light-theme-accent, 300);
  background-color: #f5f5f5;
}

.mat-footer-row {
  // background-color: mat-color($light-theme-accent, 300);
  background-color: #f5f5f5;
}

// ------------------------------------------------------------------------------------------------------------------ //

// https://material.angular.io/guide/theming
// https://github.com/angular/components/blob/master/guides/theming.md

// https://material.io/design/color/the-color-system.html
// https://github.com/angular/material2/blob/master/src/lib/core/theming/_palette.scss

// https://material.angular.io/guide/typography
// https://github.com/Teradata/covalent/blob/develop/src/theme.scss

// https://blog.thoughtram.io/angular/2017/05/23/custom-themes-with-angular-material.html
// https://ultimatecourses.com/blog/the-missing-guide-to-angular-material
