#media-details-container {
  margin: 15px 0;
  #header-container {
    margin: 15px 0;
    h1 {
      font-size: 5em;
      height: 60px;
      text-align: center;
    }
  }
  #content-container {
    display: flex;
    #movie-image {
      max-height: 360px;
    }
    #details-container {
      margin: 15px;
      #actors {
        margin: 15px 0;
      }
      #action {
        #action-row {
          display: table-cell;
          button {
            margin: 8px 8px 8px 0;
          }
        }
      }
    }
  }
}
