<div id="media-details-container">
  <div id="header-container">
    <h1>{{ media.title || media.name }}</h1>
  </div>
  <div class="player-container">
    <app-player *ngIf="media" [data]="media.videos.results"></app-player>
  </div>
  <div class="meta">
    <span
      ><mat-icon>update</mat-icon
      >{{ media.release_date || media.first_air_date | date }}</span
    >
    <span
      >Average : {{ media.vote_average }} ({{ media.vote_count }} votes)</span
    >
  </div>
  <div id="content-container">
    <img
      id="movie-image"
      [attr.src]="
        !!media.poster_path
          ? 'https://image.tmdb.org/t/p/w500/' + media.poster_path
          : 'https://www.fillmurray.com/240/360'
      "
      alt="image or poster of the media"
    />
    <div id="details-container">
      <p>{{ media.overview }}</p>
      <mat-divider></mat-divider>
      <div id="actors">
        <span>Director</span>
        <mat-chip-list>
          <mat-chip
            color="accent"
            *ngFor="let dir of director; let i = index"
            selected
            >{{ dir.name }}</mat-chip
          >
        </mat-chip-list>
        <span>Main actors</span>
        <mat-chip-list>
          <mat-chip
            color="accent"
            *ngFor="let actor of cast; let i = index"
            selected
            >{{ actor.name }}</mat-chip
          >
        </mat-chip-list>
      </div>
      <div id="action">
        <div id="action-row">
          <button
            *ngFor="let snackBarData of bottomSheetActions"
            (click)="openSnackBar(snackBarData)"
            mat-raised-button
            color="primary"
          >
            <mat-icon>add</mat-icon
            >{{ snackBarData?.options?.type?.replace("-", " ") }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <aside>content</aside>
</div>
