<mat-nav-list>
  <ng-container *ngFor="let item of data">
    <a
      href="https://keep.google.com/"
      mat-list-item
      (click)="openLink($event, item.options)"
    >
      <span mat-line>{{ item.title }}</span>
      <span mat-line>{{ item.subTitle }}</span>
    </a>
  </ng-container>
</mat-nav-list>
