<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <mat-toolbar>
      <h2 class="toolbar-title">Perfect Memory Test</h2>
    </mat-toolbar>

    <mat-nav-list>
      <h2 matSubheader>Browse</h2>

      <a
        *ngFor="let item of browseRoutes"
        mat-list-item
        (click)="sidenav.close()"
        [routerLink]="[item.path]"
        routerLinkActive="list-item-active"
      >
        <mat-icon matListIcon> {{ item.icon }} </mat-icon>
        {{ item.title }}
      </a>
      <mat-divider></mat-divider>
      <h2 matSubheader>My Media</h2>
      <a
        *ngFor="let item of myMediaRoutes"
        mat-list-item
        (click)="sidenav.close()"
        [routerLink]="[item.path]"
        routerLinkActive="list-item-active"
      >
        <mat-icon matListIcon> {{ item.icon }} </mat-icon>
        {{ item.title }}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar (toggleSideNav)="toggleSideNav()"></app-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
